<div class="content">
    <form class="form mb-3">
        <h1 class="title">Voley Project</h1>
        <h1 class="title">Registrate</h1>
        <div class="input-group mb-3 input-custom">
            <span class="input-group-text" id="name">👨‍💼</span>
            <input type="text" class="form-control" placeholder="Nombre Completo" aria-describedby="name"  >
        </div>
        <div class="input-group mb-3 input-custom">
            <span class="input-group-text" id="e-mail">✉</span>
            <input type="email" class="form-control" placeholder="Correo Electronico" aria-describedby="e-mail" >
        </div>
        <div class="input-group mb-3 input-custom">
            <span class="input-group-text" id="phone">📞</span> 
            <input type="text" class="form-control" placeholder="Telefono/Celular" aria-describedby="phone" >
        </div>
        <div class="input-group mb-3 input-custom">
            <span class="input-group-text" id="password">🔒</span>
            <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="password">
        </div>
        <!--<div class="input-group mb-3 input-custom">
            <span class="input-group-text" id="replic-password">🔄</span>
            <input type="password" class="form-control" placeholder="Repetir Contraseña" aria-describedby="replic-password" >
        </div>-->
         <button type="submit" class="btn-submit" >Registrate</button>
        <div class="text-aling">
            <p>
                Al registrarte, aceptas nuestras Condiciones de uso y Politicas de privacidad. 
            </p>
        </div>
        <div class="text-aling">
            <p>¿Ya tienes una cuenta? <a [routerLink]="['/login']" class="link-text">Inicia Sesion</a></p>
        </div>
    </form>
</div>


